:root {
  box-sizing: border-box;
  font-family: 'system-ui', sans-serif;

  --button-see-background: #4a6cf7;
  --button-see-background-hover: #3a5ce5;

  --button-github-border: 1px solid #666;
  --button-github-background: #21282f;
  --button-github-background-hover: #101418;
  --button-github-background-disabled: #202428;
  --button-github-color: #2a2d31;
}

:root.dark {
  --border-color: #666;
  --button-github-color-disabled: #aaa;

  --text-primary: white;
  --text-secondary: #eee;
}

:root.light {
  --border-color: #aaa;
  --button-github-color-disabled: #555;

  --text-primary: black;
  --text-secondary: #2a2a2a;
}

* {
  box-sizing: border-box;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.7) transparent;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
